.contacts {
    min-height: 620px;
    padding: 115px 0 123px 0;
    text-align: center;
    &__subtitle {
        font-weight: 500;
        font-size: 18px;
        margin-top: 32px;
    }
    button {
        margin-top: 30px;
        transition: 0.5s all;
        &:hover {
            width: 180px;
            height: 45px;
            font-size: 18px;
        }
    }
    &__footer {
        font-weight: 500;
        font-size: 14px;
        color: #828282;
        margin-top: 45px;
    }
    &__social {
        width: 350px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 85px;
    }
}