.skills {
    min-height: 610px;
    text-align: center;
    padding: 91px 0 115px 0;
    &__title {
        font-weight: 700;
        font-size: 34px;
    }
    &__subtitle {
        margin-top: 63px;
        font-weight: 500;
        font-size: 18px;
    }
    &__img {
        margin-top: 90px;
        display: flex;
        justify-content: space-around;
    }
    &__text {
        display: flex;
        justify-content: space-around;
        margin-top: 23px;
        font-weight: 700;
        font-size: 14px;
        color: #828282;
        p {
            &:nth-child(3) {
                padding-right: 10px;
            }
            &:nth-child(2) {
                margin-right: 21px;
            }
            &:nth-child(1) {
                padding-right: 10px;
            }
        }
    }
    &__stars {
        display: flex;
        justify-content: space-around;
        img {
            &:nth-child(2) {
                padding-left: 23px;
            }
        }
    }
}